*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    color:#ECECEC;

    font-family:Georgia,serif;

}

body{

    display:flex;

    justify-content:center;

    align-items:center;

}

#guardiao{

    width:100%;

    max-width:600px;

    padding:40px;

    text-align:center;

    font-size:30px;

    line-height:1.6;

}

input{

    width:85%;

    margin-top:30px;

    padding:12px;

    background:transparent;

    color:white;

    border:none;

    border-bottom:1px solid #666;

    outline:none;

    text-align:center;

    font-size:24px;

}

.botao{

    width:240px;

    height:58px;

    margin:18px auto;

    display:block;

    background:transparent;

    color:white;

    border:1px solid #888;

    font-size:22px;

    cursor:pointer;

    clip-path:polygon(
        10% 0%,
        90% 0%,
        100% 50%,
        90% 100%,
        10% 100%,
        0% 50%
    );

    transition:.35s;

}

.botao:hover{

    background:white;

    color:black;

}
